/home/r/Workspace/Orpheus/Nexus/node_modules
/home/r/Workspace/Orpheus/Charts/.env
/home/r/Workspace/Orpheus/Charts/config.py
/home/r/Workspace/Orpheus/.venv
/home/r/Workspace/Orpheus/_pycache_
/home/r/Workspace/Orpheus/_init_.py
/home/r/Workspace/Orpheus/Charts/__pycache__
/home/r/Workspace/Orpheus/Orpheus.egg-info
/home/r/Workspace/Orpheus/Charts.egg-info
/home/r/Workspace/Orpheus/Alpha/__pycache__
/home/r/Workspace/.gitignore
